@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Manrope';
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    }

    :root {
        --columns: 30px repeat(12, 1fr) 30px;
    }

    @media (min-width: theme('screens.xl')) {
        :root {
            --columns: minmax(40px, 10vw) repeat(12, 1fr) minmax(40px, 10vw);
        }
    }

    @media (min-width: theme('screens.2xl')) {
        :root {
            --columns: minmax(40px, 15vw) repeat(12, 1fr) minmax(40px, 15vw);
        }
    }
}

html {
    @apply scroll-smooth;
}


body {
    @apply text-black bg-white;
}

article h2 {
    @apply text-2xl font-bold text-left pb-4;
}

article p {
    @apply text-left text-gray-700 pb-6 lg:pb-12 leading-7 antialiased;
}

p {
    @apply antialiased;
}

.menu label {
    background-color: transparent;
    display: block;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    max-width: 150px;
    max-height: 150px;
}

@media (min-aspect-ratio: 1/1) {
    .menu label {
        width: 4rem;
        height: 4rem;
    }
}

.menu input {
    display: none;
}

.menu label {
    bottom: 0;
    right: 0;
}

.menu path {
    fill: none;
    stroke: #000000;
    stroke-width: 4;
    --length: 35;
    --offset: -33;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cross svg.checked .line--1,
.cross svg.checked .line--3 {
    --length: 29.627416998;
}

.cross svg.checked .line--2 {
    --length: 0;
}

.back svg.checked .line--1,
.back svg.checked .line--3 {
    --length: 8.602325267;
}

.menu .line--1,
.menu .line--3 {
    --total-length: 47.22813415527344;
    --offset: -45;
}

.menu .line--2 {
    --total-length: 40;
}

.menu svg.checked path {
    @apply translate-x-[25px]
}

.menu svg.checked .line--1,
.menu svg.checked .line--3 {
    --offset: -13.9705627485;
}

.menu svg.checked .line--2 {
    --offset: -20;
}

.navigation--mobile.active {
    background-position-y: 0;
}
