@import "tailwindcss";
@source "../../../browser-extension/src/core";
@plugin "@tailwindcss/typography";;

@theme {
    --color-black: #000;
    --color-white: #fff;
    --color-dark-900: #000;
    --color-dark-800: #070707;
    --color-dark-700: #222;
    --font-sans: "Inter", "-apple-system", "BlinkMacSystemFont", "sans-serif";
    --font-heading: "Manrope", "-apple-system", "BlinkMacSystemFont", "sans-serif";
    --grid-template-columns-full: var(--columns);
    --grid-template-columns-1-1: 1fr 2fr;
    

    /* --container-screens: {
        DEFAULT: "100%",
            sm: "640px",
            md: "868px",
            xl: "1280px",
    } */

    ;
    /* gridTemplateColumns: {
			},
			backgroundImage: {
				"gradient-radial": "radial-gradient(var(--tw-gradient-stops))",
				"gradient-conic":
					"conic-gradient(from 180deg at 50% 50%, var(--tw-gradient-stops))",
				"gradient-dark":
					"linear-gradient(-180deg, black, rgba(0,0,0,0.9) 50%, transparent 100%)",
				"gradient-light":
					"linear-gradient(180deg, rgba(255,255,255,1), transparent 400%)",
		}, */
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@layer base {
    @font-face {
        font-family: 'Manrope';
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-style: normal;
        font-display: swap;
        font-weight: 100 900;
        src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    }

    :root {
        --columns: 30px repeat(12, 1fr) 30px;
    }

    @media (min-width: theme('screens.xl')) {
        :root {
            --columns: minmax(40px, 10vw) repeat(12, 1fr) minmax(40px, 10vw);
        }
    }

    @media (min-width: theme('screens.2xl')) {
        :root {
            --columns: minmax(40px, 15vw) repeat(12, 1fr) minmax(40px, 15vw);
        }
    }
}

html {
    @apply scroll-smooth;
}


body {
    @apply text-black bg-white;
}

article h2 {
    @apply pb-4 text-2xl font-bold text-left;
}

article p {
    @apply pb-6 antialiased leading-7 text-left text-gray-700 lg:pb-12;
}

p {
    @apply antialiased;
}

.menu label {
    background-color: transparent;
    display: block;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    max-width: 150px;
    max-height: 150px;
}

@media (min-aspect-ratio: 1/1) {
    .menu label {
        width: 4rem;
        height: 4rem;
    }
}

.menu input {
    display: none;
}

.menu label {
    bottom: 0;
    right: 0;
}

.menu path {
    fill: none;
    stroke: #000000;
    stroke-width: 4;
    --length: 35;
    --offset: -33;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.cross svg.checked .line--1,
.cross svg.checked .line--3 {
    --length: 29.627416998;
}

.cross svg.checked .line--2 {
    --length: 0;
}

.back svg.checked .line--1,
.back svg.checked .line--3 {
    --length: 8.602325267;
}

.menu .line--1,
.menu .line--3 {
    --total-length: 47.22813415527344;
    --offset: -45;
}

.menu .line--2 {
    --total-length: 40;
}

.menu svg.checked path {
    @apply translate-x-[25px]
}

.menu svg.checked .line--1,
.menu svg.checked .line--3 {
    --offset: -13.9705627485;
}

.menu svg.checked .line--2 {
    --offset: -20;
}

.navigation--mobile.active {
    background-position-y: 0;
}